include dash_alternative_viz/dash_alternative_viz.min.js
include dash_alternative_viz/dash_alternative_viz.dev.js
include dash_alternative_viz/metadata.json
include dash_alternative_viz/package.json
include README.md
